// ///////////////////////
// @@ ++ BASE
// ///////////////////////

*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
  /*box-sizing: border-box;*/
}

html {
  // This defines what 1 rem is
  font-size: 62.5%;
  //Waarom 10px gemakkelijk om alles om te zetten naar rem 1/10
  //62.5 = 10px  / 16px (default)

  @include respond(tab-land) { // width < 1200px?
    font-size: 56.25%;  // 1rem = 9px, 9/16px = 56.25%
  }

  @include respond(tab-port) {  // width < 900px?
    font-size: 50%;  // 1rem = 8px, 8/16px = 50%
  }

  @include respond(big-desktop) {  // width > 1800px?
    font-size: 75%;  // 1rem = 12px, 12/16px = 75%
  }

}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {  // width < 900px?
    padding: 0;
  }
}

::selection {
  background-color: $color__primary;
  color: $color__white;
}
