/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: inherit;
    /*box-sizing: border-box;*/
}

html {
    font-size: 62.5%;
    /*Waarom 10px gemakkelijk om alles om te zetten naar rem 1/10*/
    /*62.5 = 10px  / 16px (default)*/
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
}

.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.80), rgba(40, 180, 133, 0.80)), url("../img/hero.jpg");
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
 }

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 3.5rem;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: white;
    text-transform: uppercase;
    margin-bottom: 6rem;
}

.heading-primary--main {
    letter-spacing: 3.5rem;
    font-size: 6rem;
    display: block;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary--sub {
    letter-spacing: 1.6rem;
    font-size: 2rem;
    display: block;
    font-weight: 700;
    animation: moveInRight 1s ease-out;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: #777;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.3s;
    position: relative;
    font-size: 1.6rem;
}

.btn--animated {
    animation: moveInBottom 1s ease-out 0.75s;
    /*The element will get the style values that is set by the first keyframe (depends on animation-direction), and retain this during the animation-delay period*/
    animation-fill-mode: backwards;
}

.btn:hover {
    transform: translateY(-3px);
    /*box-shadow: none|h-shadow v-shadow blur spread color*/
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);

}

.btn--white {

    background-color: white;
    color: #777;
    padding: 1.5rem 4rem;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn--white::after {
    background-color: white;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}



@keyframes moveInLeft {

    0% {
        opacity: 0;
        transform: translateX(-10rem);

    }
     80% {
         transform: translateX(1rem);

     }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {

    0% {
        opacity: 0;
        transform: translateX(10rem);

    }
    80% {
        transform: translateX(-1rem);

    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moveInBottom {

    0% {
        opacity: 0;
        transform: translateY(10rem);

    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}