// ///////////////////////
// @@ ++ BUTTON
// ///////////////////////

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: $color-grey-dark;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.3s;
    position: relative;
    font-size: $default-font-size;

    // Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &--animated {
    animation: moveInBottom 1s ease-out 0.75s;
    /*The element will get the style values that is set by the first keyframe (depends on animation-direction), and retain this during the animation-delay period*/
    animation-fill-mode: backwards;
  }

  &:hover {
    transform: translateY(-3px);
    /*box-shadow: none|h-shadow v-shadow blur spread color*/
    box-shadow: 0 1rem 2rem $bs-tr-20;

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none; // om blauwe border te verwijderen bij klikken op de button (:focus)
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem $bs-tr-20;
  }

  &--white {
    background-color: $color__white;
    color: $color-grey-dark;
    padding: 1.5rem 4rem;

    &::after {
      background-color: $color__white;
    }
  }

  &--green {
    background-color: $color__primary;
    color: $color__white !important;
    padding: 1.5rem 4rem;

    &::after {
      background-color: $color__white;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color__primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color__primary;
    padding: .3rem;
    transition: all .2s;
  }

  &:hover {
    background-color: $color__primary;
    color: $color__white;
    box-shadow: 0 1rem 2rem $bs-tr-15;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 1rem $bs-tr-15;
    transform: translateY(-1px);
  }
}